@using Microsoft.AspNetCore.Http

@model GamePost

<div class="card shadow rounded mx-auto w-75 mb-3">
  <h4 class="card-title text-center bg-dark text-light py-2 rounded-top">
    @Model.Title
  </h4>

  <div class="card-body">
    <p class="card-text">
      @Model.Description
    </p>
    <small class="text-muted">
      Submitted by @Model.Author.Name on: @Model.CreatedAt
    </small>
  </div>

  @if (Model.ImgUrl != null)
  {
    <img src="@Model.ImgUrl" alt="related to post." class="card-img-bottom">
  }

  <div class="card-footer">
    @if (Model.UserId == Context.Session.GetInt32("UserId"))
    {
      <a asp-controller="Posts" asp-action="Edit" asp-route-postId="@Model.GamePostId"
      class="btn btn-outline-warning">Edit</a>

      <form asp-controller="Posts" asp-action="Delete" asp-route-postId="@Model.GamePostId" method="POST"
      class="d-inline-block">
        <button class="btn btn-outline-danger">Delete</button>
      </form>
    }

  </div>
</div>